In [2]:
#task1
print("Hello,World")

Hello,World

In [4]:
#task2
print("5 + 3 =",5+3)

5 + 3 = 8

In [5]:
#task3
my_list = [1,2,3,4,5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [6]:
#task4
my_tuple = (3,4,5)
print(my_tuple)

(3, 4, 5)

In [8]:
#task5
my_set = {3,4,5,6}
my_set.add(7)
print(my_set)

{3, 4, 5, 6, 7}

In [9]:
#task6
my_dict = {"sns":"coimbatore","ssn":"chennai"}
my_dict["srm"] = "chennai"
print(my_dict)

{'sns': 'coimbatore', 'ssn': 'chennai', 'srm': 'chennai'}

In [10]:
#task7
import numpy as np
arr = np.array(range(1,11))
print(arr)

[ 1  2  3  4  5  6  7  8  9 10]

In [11]:
#task8
min_value = np.min(arr)
max_value = np.max(arr)
mean_value = np.mean(arr)
print(min_value)
print(max_value)
print(mean_value)

1
10
5.5

In [13]:
#task9
import pandas as pd
df = pd.read_csv("features.csv")
print(df.head())
print(df.info())

           0          1          2          3          4          5  \
0 -119.21760  124.33833 -22.838790  42.074740  -7.011255  19.987260
1 -231.11064  117.29235  13.844360  40.625570   6.719325  23.114820
2 -106.71470  138.27286 -25.117392  33.036263 -17.002466  25.984060
3 -225.12614  160.49052   5.700141  26.851997   8.370367   9.451518
4 -148.09901  115.34616 -34.792790  25.507706 -34.924930  15.149554

           6          7          8          9         10         11        12  \
0 -16.026869  17.884810 -12.553806  12.362547  -9.089807   8.994223 -5.611320
1  -7.070031  25.749584  -7.358057  11.780967  -1.463972  10.752818 -1.192076
2 -14.420881   9.424596 -12.161647   6.012225 -13.856017   4.925122 -9.078103
3   2.127471  10.046882   2.389887   9.063893   3.287354   3.338075 -2.649507
4 -23.471218   1.445836 -15.869086   2.962356 -16.011250  -2.585253 -3.462418

   label
0  blues
1  blues
2  blues
3  blues
4  blues
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   float64
 1   1       1000 non-null   float64
 2   2       1000 non-null   float64
 3   3       1000 non-null   float64
 4   4       1000 non-null   float64
 5   5       1000 non-null   float64
 6   6       1000 non-null   float64
 7   7       1000 non-null   float64
 8   8       1000 non-null   float64
 9   9       1000 non-null   float64
 10  10      1000 non-null   float64
 11  11      1000 non-null   float64
 12  12      1000 non-null   float64
 13  label   1000 non-null   object
dtypes: float64(13), object(1)
memory usage: 109.5+ KB
None

In [14]:
user_dict = {}
for i in range (3):
    key = input(f"Enter key {i+1}:")
    value = input(f"Enter Value {key} : ")
    user_dict[key] = value
    print("Final Dictionary :" , user_dict)

Enter key 1: 1
Enter Value 1 :  book

Final Dictionary : {'1': 'book'}

Enter key 2: 2
Enter Value 2 :  newspaper

Final Dictionary : {'1': 'book', '2': 'newspaper'}

Enter key 3: 3
Enter Value 3 :  pen

Final Dictionary : {'1': 'book', '2': 'newspaper', '3': 'pen'}

In [15]:
import numpy as np
matrix1 = np.array([[1,3],[2,6]])
matrix2 = np.array([[2,1],[3,2]])
matrix_sum = np.add(matrix1,matrix2)
print(matrix_sum)

[[3 4]
 [5 8]]